<h1>Subjects!!!</h1>

<p>
  <button (click)="nextAll()">Next (all)</button>
</p>

<div class="subject-container">
  <div>
    <h3>Plain Subj</h3>
    <div><button (click)="subjectSubscribe()">Subscribe</button></div>
    <ul>
      <li *ngFor="let value of subjectValues">{{ value }}</li>
    </ul>
  </div>

  <div>
    <h3>Behavior Subj</h3>
    <div><button (click)="behaviorSubjectSubscribe()">Subscribe</button></div>
    <ul>
      <li *ngFor="let value of behaviorSubjectValues">{{ value }}</li>
    </ul>
  </div>

  <div>
    <h3>Replay Subj</h3>
    <div>
      <button (click)="replaySubjectSubscribe()">Subscribe</button>
      <button (click)="replaySubjectUnsubscribe()">Unsubscribe</button>
    </div>
    <ul>
      <li *ngFor="let value of replaySubjectValues">{{ value }}</li>
    </ul>
  </div>
</div>
